body {
  margin: 0;
  padding: 0;

  background-color: #e2c696;
}

.main {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  @media screen and (orientation:portrait) {
    flex-direction: column-reverse;
  }
}
