.settings {
    display: flex;
    flex-direction: column;

    @media screen and (orientation: portrait) {
        flex-direction: row;
    }

    .highlightOption {
        margin-top: 1rem;
    }

    .highlightRadioGroup {
        margin-top: 1rem;
    }

    .minimumCounts {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
    }
}
