.settings {
    display: flex;
    flex-direction: column;

    @media screen and (orientation: portrait) {
        flex-direction: row;
    }

    .highlightOption {
        margin-top: 1rem;
    }
}
